[Unit]
Description=Mount USB storage at /mnt/usb_data

[Mount]
What=/dev/sda1
Where=/mnt/usb_data
Type=exfat
Options=defaults,uid=0,gid=0,umask=000,iocharset=utf8,noatime,nofail,x-systemd.automount

[Install]
WantedBy=multi-user.target
